$light-color: #f5fffa;
$grey-color: #f2f3f4;
$main-color: #65b3ff;
$second-color: #0290ff;
$dark-color: #212121;
$header-color: #e4e4e4;
$skill-html: 70%;
$skill-css: 65%;
$skill-js: 10%;
$skill-git: 30%;
$skill-figma: 30%;