.portfolio-sect {
    position: relative;
    min-height: 475px;
    padding: 174px 0 50px 0;
    background-color: $grey-color;
    &__header {
        position: absolute;
        top: 52px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0;
        line-height: 72px;
        font-size: 72px;
        font-weight: 700;
        color: $header-color;
    }
    &__subheader {
        position: absolute;
        top: 78px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        margin-bottom: 0;
        line-height: 36px;
        font-size: 36px;
        font-weight: 700;
        color: $dark-color;
        &:focus {
            outline: 2px dashed $dark-color;
            outline-offset: 5px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        display: none;
        text-decoration: none;
        padding: 0 10px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        border: 2px solid $dark-color;
        border-radius: 10px;
        background-color: $grey-color;
        &:nth-child(1) {
            margin-bottom: 15px;
        }
        &:nth-child(2) {
            margin-top: 15px;
        }
        &:focus-within, &:hover {
            color: $light-color;
            border-color: $second-color;
            background-color: $second-color;
            outline: none;
            transition: all 0.2s linear;
        }
        &:active {
            background-color: $light-color;
            color: red;
            transition: all 0.2s linear;
        }
    }
    &__item {
        position: relative;
        width: 375px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
            background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
                        url(../img/Uber-site.png) center center / cover no-repeat;
            &::before {
                content: 'Учебный проект Uber';
                display: block;
                position: absolute;
                top: -26px;
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                color: $dark-color;
                padding-bottom: 10px;
            }
            &:focus-within {
                outline: 2px solid $second-color;
                outline-offset: 5px;
            }
            &:focus-within, &:hover, &:active {
                background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url(../img/Uber-site.png) center center / cover no-repeat;
                .portfolio-sect__link {
                    display: inline-block;
                }
            }
        }
        &:nth-child(2) {
            background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
                        url(../img/Pulse-site.png) center center / cover no-repeat;
            &::before {
                content: 'Учебный проект Pulse';
                display: block;
                position: absolute;
                top: -26px;
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                color: $dark-color;
                padding-bottom: 10px;
            }
            &:focus-within {
                outline: 2px solid $second-color;
                outline-offset: 5px;
            }
            &:focus-within, &:hover, &:active {
                background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url(../img/Pulse-site.png) center center / cover no-repeat;
                .portfolio-sect__link {
                    display: inline-block;
                }
            }
        }
        &:nth-child(3) {
            background: linear-gradient(to bottom right, rgba(228, 228, 228, 1), rgba(228, 228, 228, 1));
            &::before {
                content: 'В разработке...';
                display: block;
                position: absolute;
                top: -26px;
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                color: $dark-color;
                padding-bottom: 10px;
            }
            &:focus-within {
                outline: 2px solid $second-color;
                outline-offset: 5px;
            }
            &:focus-within, &:hover, &:active {
                background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
                .portfolio-sect__link {
                    display: inline-block;
                }
            }
        }
    }
}